////////////////////////////////////////
/// LOGO
.logo {
    height: 3.25rem;
    margin-left: 2rem;
}

////////////////////////////////////////
/// SEARCH
.search {
    flex: 0 0 40%; /* flex-shrink: 0; flex-grow: 0; flex-basis: 40% */
    /* grow 40% of the available space */

    display: flex;
    align-items: center;
    justify-content: center;

    &__input {
        font-family: inherit;
        font-size: inherit; /* inherit the font size from the parent element (header) */
        color: inherit;
        background-color: var(--color-grey-light-2);
        border: none;
        padding: .7rem 2rem;
        border-radius: 10rem;
        width: 90%;
        transition: all .2s;

        margin-right: -3.25rem;

        &:focus {
            outline: none;
            width: 100%;
            background-color: var(--color-grey-light-3);
        }

        &::-webkit-input-placeholder { /* style the placeholder text */
            font-weight: 100; /* make the placeholder text lighter */
            color: var(--color-grey-dark-2);
        }
    }

    &__input:focus + &__button {
        background-color: var(--color-grey-light-3);
    }

    &__button {
        border: none;
        background-color: var(--color-grey-light-2);

        &:focus {
            outline: none;
        }

        &:active {
           transform: translateY(2px);
        }

    }

    &__icon {
        height: 2rem;
        width: 2rem;
        fill: var(--color-grey-dark-3);
    }
}

////////////////////////////////////////
/// USER NAV
.user-nav {
    display: flex;
    align-items: center;
    align-self: stretch; /* make the user-nav take the full height of the parent element */


    & > * { /* select all direct children of the user-nav */
        padding: 0 2rem;
        cursor: pointer;
        height: 100%; /* make the direct children of the user-nav take the full height of the user-nav */
    
        display: flex;
        align-items: center;
    }

    & > *:hover {
        background-color: var(--color-grey-light-2);
    }

    &__icon-box {
        position: relative;
    }
    
    &__icon {
        height: 2rem;
        width: 2rem;
        fill: var(--color-grey-dark-2);
    }

    &__notification {
        font-size: .8rem;
        height: 1.75rem; 
        width: 1.75rem;
        border-radius: 50%;
        background-color: var(--color-primary);
        color: #fff;

        // Center the text
        display: flex;
        align-items: center;
        justify-content: center;

        // Position the notification absolutely within the icon-box
        position: absolute;
        top: 1.5rem;
        right: 1.1rem;
    }

    &__user-photo {
        height: 3.75rem;
        border-radius: 50%;
        margin-right: 1rem;

    }
}

////////////////////////////////////////
/// SIDE NAVIGATION
.side-nav {
    font-size: 1.4rem;
    list-style: none;
    margin-top: 3.5rem;

    &__item {
        position: relative;

        &:not(:last-child) {
            margin-bottom: .5rem;
        }
    }

    &__item::before { /* pseudo-element for the line */
        content: "";
        display: inline-block;
        width: 3px;
        height: 100%;
        background-color: var(--color-primary);

        transform: scaleY(0);
        transition: transform .2s, 
                    width .2s cubic-bezier(1,0,0,1) .2s, 
                    background-color .1s;

        position: absolute;
        left: 0;
        top: 0;
    }

    &__item:hover::before,
    &__item--active::before {
        transform: scaleY(1);
        width: 100%;
    }

    &__item:active::before {
        background-color: var(--color-primary-light);
    }

    &__link:link,
    &__link:visited {
        color: var(--color-grey-light-2);
        text-decoration: none;
        text-transform: uppercase;
        display: block; /* make the link take the full width of the parent element */
        padding: 1.5rem 3rem;
        position: relative; /* for the icon */

        display: flex;
        align-items: center;

        position: relative; /* for the z-index */
        z-index: 10;
    }

    &__icon {
        width: 1.75rem;
        height: 1.75rem;
        margin-right: 2rem;
        fill: currentColor; /* use the color of the parent element (text) */
    }


}

////////////////////////////////////////
/// LEGAL TEXT
.legal {
    font-size: 1.2rem;
    color: var(--color-grey-light-4);
    text-align: center;
    padding: 2.5rem;
}


////////////////////////////////////////
/// HOTEL OVERVIEW
.overview {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--color-grey-light-2);

    &__heading {
        font-size: 2.25rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 1.5rem 3rem;
    }

    &__stars {
        margin-right: auto; /* reduce the space of the stars to its size */
        display: flex; /* to align the stars horizontally because svgs are inline elements */
    }

    &__icon-star,
    &__icon-location {
        height: 1.75rem; 
        width: 1.75rem;
        fill: var(--color-primary);
    }

    &__location {

    }

    &__rating {

    }

    &__rating-average {

    }

    &__rating-count {

    }
}


////////////////////////////////////////
/// BUTTON INLINE
.btn-inline {
    border: none;
    color: var(--color-primary);
    font-size: inherit;
    border-bottom: 1px solid currentColor; /* same color as the text */
    padding-bottom: 2px;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
}