////////////////////////////////////////
/// LOGO
.logo {
    height: 3.25rem;
    margin-left: 2rem;
}

////////////////////////////////////////
/// SEARCH
.search {
    flex: 0 0 40%; /* flex-shrink: 0; flex-grow: 0; flex-basis: 40% */
    /* grow 40% of the available space */

    display: flex;
    align-items: center;
    justify-content: center;


    &__input {
        font-family: inherit;
        font-size: inherit; /* inherit the font size from the parent element (header) */
        color: inherit;
        background-color: var(--color-grey-light-2);
        border: none;
        padding: .7rem 2rem;
        border-radius: 10rem;
        width: 90%;
        transition: all .2s;

        margin-right: -3.25rem;

        &:focus {
            outline: none;
            width: 100%;
            background-color: var(--color-grey-light-3);
        }

        &::-webkit-input-placeholder { /* style the placeholder text */
            font-weight: 100; /* make the placeholder text lighter */
            color: var(--color-grey-dark-2);
        }
    }

    &__input:focus + &__button {
        background-color: var(--color-grey-light-3);
    }

    &__button {
        border: none;
        background-color: var(--color-grey-light-2);

        &:focus {
            outline: none;
        }

        &:active {
           transform: translateY(2px);
        }

    }

    &__icon {
        height: 2rem;
        width: 2rem;
        fill: var(--color-grey-dark-3);
    }
}

////////////////////////////////////////
/// USER NAV
.user-nav {
    display: flex;
    align-items: center;
    align-self: stretch; /* make the user-nav take the full height of the parent element */


    & > * { /* select all direct children of the user-nav */
        padding: 0 2rem;
        cursor: pointer;
        height: 100%; /* make the direct children of the user-nav take the full height of the user-nav */
    
        display: flex;
        align-items: center;
    }

    & > *:hover {
        background-color: var(--color-grey-light-2);
    }

    &__icon-box {
        position: relative;
    }
    
    &__icon {
        height: 2rem;
        width: 2rem;
        fill: var(--color-grey-dark-2);
    }

    &__notification {
        font-size: .8rem;
        height: 1.75rem; 
        width: 1.75rem;
        border-radius: 50%;
        background-color: var(--color-primary);
        color: #fff;

        // Center the text
        display: flex;
        align-items: center;
        justify-content: center;

        // Position the notification absolutely within the icon-box
        position: absolute;
        top: 1.5rem;
        right: 1.1rem;


    }

    &__user-photo {
        height: 3.75rem;
        border-radius: 50%;
        margin-right: 1rem;

    }
}