.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-2);
    box-shadow: var(--shadow-dark);

    min-height: 50rem;
}

.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: 1px solid var(--color-grey-light-2);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content {
    display: flex;

    .sidebar {
        background-color: var(--color-grey-dark-1);
        flex: 0 0 18%; /* flex-shrink: 0; flex-grow: 0; flex-basis: 18% */

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .hotel-view {
        background-color: #fff;
        flex: 1; /* the element will take up the remaining space */
    }
}

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;

    &__photo { 
        width: 100%; /* responsive design, make the photo take the full width of the gallery */
        display: block; /* image should always be block or inline-bllock, to avoid whitespace issues */
    }
}


.detail {
    font-size: 1.4rem;

    display: flex;
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom: var(--line);

}

.description {
    background-color: #fff;
    box-shadow: var(--shadow-light);
    padding: 3rem;
    flex: 0 0 60%; /* flex-shrink: 0; flex-grow: 0; flex-basis: 60% */
    margin-right: 4.5rem;

}

.user-reviews {
    flex: 1;     /* the element will take up the remaining space */

    display: flex;
    flex-direction: column;
    align-items: center;
}