.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-2);
    box-shadow: var(--shadow-dark);

    min-height: 50rem;

    @media only screen and (max-width: $bp-largest) { 
        margin: 0;
        max-width: 100%;
        width: 100%;
    }
}

.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--line);

    display: flex;
    align-items: center;
    justify-content: space-between;

    @media only screen and (max-width: $bp-smallest) {
        flex-wrap: wrap; /* move search bar to a new line if the elements don't fit in the same line */
        align-content: space-around;
        height: 10rem;
        padding-top: 1rem;
    }
}

.content {
    display: flex;

    @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
    }

    .sidebar {
        background-color: var(--color-grey-dark-1);
        flex: 0 0 18%; /* flex-shrink: 0; flex-grow: 0; flex-basis: 18% */

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .hotel-view {
        background-color: #fff;
        flex: 1; /* the element will take up the remaining space */
    }
}

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;

    &__item {
        position: relative;
        overflow: hidden; // Hide caption overflow
    }

    &__photo { 
        width: 100%; /* responsive design, make the photo take the full width of the gallery */
        display: block; /* image should always be block or inline-bllock, to avoid whitespace issues */
        transition: transform 0.3s, filter 0.3s;
    }

    &__item:hover &__photo {
        transform: scale(1.1);
        filter: brightness(0.7);
    }

    &__caption {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
        color: #fff;
        padding: 2rem;
        font-size: 1.4rem;
        font-weight: 400;
        text-align: center;
        transform: translateY(100%);
        transition: transform 0.3s;
        z-index: 10;
    }

    &__item:hover &__caption {
        transform: translateY(0);
    }
}


.detail {
    font-size: 1.4rem;

    display: flex;
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom: var(--line);

    @media only screen and (max-width: $bp-medium) {
        padding: 3rem;
    }

    @media only screen and (max-width: $bp-small) {
        flex-direction: column;
    }

}

.description {
    background-color: #fff;
    box-shadow: var(--shadow-light);
    padding: 3rem;
    flex: 0 0 60%; /* flex-shrink: 0; flex-grow: 0; flex-basis: 60% */
    margin-right: 4.5rem;

    @media only screen and (max-width: $bp-medium) {
        padding: 2rem;
        margin-right: 3rem;
    }

    @media only screen and (max-width: $bp-small) {
        margin: 0 0 3rem 0;
    }
}

.user-reviews {
    flex: 1;     /* the element will take up the remaining space */

    display: flex;
    flex-direction: column;
    align-items: center;
}