.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-2);
    box-shadow: var(--shadow-dark);

    min-height: 50rem;
}

.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--color-grey-light-2);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content {
    display: flex;

    .sidebar {
        background-color: var(--color-grey-dark-1);
        flex: 0 0 18%; /* flex-shrink: 0; flex-grow: 0; flex-basis: 18% */
    }
    
    .hotel-view {
        background-color: #fff;
        background-color: blue;

        flex: 1; /* the element will take up the remaining space */
    }
}